.naslov{
    padding: 1rem;
}

.slika img{
    max-width: 80%;
}

.slika{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.centriraj{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.centriraj.btn{
    width: 15%;
}

body{
    background-image: url("../slike/background.webp");
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}